<style>
    
    .footer{
        position: relative;
        bottom: 0;
        width: 100%;
        height: 60px; 
        line-height: 60px; 
    }
</style>
<center>
    <footer class="footer bg-dark">
        <div class="container">
            <span class="text-light">CFE @derechos reservados 2024</span>
        </div>
    </footer>
</center>