<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practicas Node</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <style>
        .header-container {
            background-color: #4CAF50; /* Green background */
            padding: 20px; /* Add some padding */
            text-align: center; /* Center the text */
            color: white; /* White text */
            border: 1px solid #4CAF50; /* Add a subtle border */
            border-radius: 10px; /* Add rounded corners */
        }

        .header-container h1 {
            margin: 0; /* Remove the default top margin of the h1 element */
            font-size: 1.5em; /* Increase the font size */
        }
    </style>
</head>
<body class="container">
    <center>
        <div class="header-container p-3">
            <h1>Compañia de luz</h1>
            <h2></h2>
            <img src="https://upload.wikimedia.org/wikipedia/commons/8/8c/Logo_neutral_de_la_Comisi%C3%B3n_Federal_de_Electricidad.svg" alt="Comisión Federal de Electricidad Logo" width="200">
        </div>
    </center>
</body>
</html>