<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid justify-content-center">
        <div>
            <div class="navbar-nav">
                <a class="nav-link" href="/tabla">Acerca de</a> 
                <a class="nav-link" href="/cotizacion" >Pago de recibo</a>
                <a class="nav-link" href="/alumnos">Contactos</a>
            </div>
        </div>
    </div>
</nav>