<%-include('partials/header.ejs')%>
<%-include('partials/nav.ejs')%>
<section>
    
    <style>
        section {
            margin: 20px auto;
            max-width: 600px;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    
        #formulario {
            border: 1px solid gainsboro;
            padding: 20px;
            border-radius: 8px;
        }
    
        form {
            text-align: left;
        }
    
        .form-group {
            margin-bottom: 15px;
        }
    
        label {
            display: block;
            margin-bottom: 5px;
        }
    
        input, select {
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin-bottom: 10px;
        }
    
        button {
            padding: 12px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
    
    </style>
    <div id="formulario">
        <center>
            
        <form action="/" method="post">
            <br>
            <div class="form-group">
                <label for="">Número de Recibo: </label>
                <input type="number" name="recibo" id="recibo" required value=<%=recibo%>>
            </div>
            <br>
            <div class="form-group">
                <label for="">Nombre: </label>
                <input type="text" name="nombre" id="nombre" required value=<%=nombre%>>
            </div>
            <br>
            <div class="form-group">
                <label for="">Domicilio: </label>
                <input type="text" name="domicilio" id="domicilio" required value=<%=domicilio%>> 
            </div>
            <br>
            <div class="form-group">
                <label for="">Tipo de Servicio: </label>
                <select name="servicio" id="servicio" required>
                    <option value="Doméstico" <%= servicio === 'Doméstico' ? 'selected' : '' %>>Doméstico</option>
                    <option value="Comercial" <%= servicio === 'Comercial' ? 'selected' : '' %>>Comercial</option>
                    <option value="Industrial" <%= servicio === 'Industrial' ? 'selected' : '' %>>Industrial</option>
                </select>
            </div>
            <br>
            <div class="form-group">
                <label for="">Kilowatts consumidos: </label>
                <input type="number" name="kw" id="kw" required value=<%=kw%>>
            </div>
            <br>
            <button  type="submit">Enviar Información</button>
            <button  type="reset" >Limpiar</button> <br>
            <br>
        </form>
        </center>
    </div>
</section>
    
<%
let costoKw;
switch(servicio){
    case 'Doméstico': costoKw = 1.08; break;
    case 'Comercial': costoKw = 2.5; break;
    case 'Industrial': costoKw = 3.0; break;
}
const subTotal = costoKw * kw;
const impuesto = subTotal * 0.16;
let descuento;
if(kw <= 1000) descuento = subTotal * 0.10;
else if(kw <= 10000) descuento = subTotal * 0.20;
else if(kw > 10000) descuento = subTotal * 0.50;
const total = subTotal + impuesto - descuento;
%>

<br><br>
<section>
    <style>
        section {
            margin: 20px auto;
            max-width: 800px;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
    
        th, td {
            padding: 12px;
            border: 1px solid #ddd;
        }
    
        th {
            background-color: #007bff;
            color: black;
        }
    
        td {
            background-color: #f9f9f9;
        }
    
        tbody tr:hover {
            background-color: #e0f7fa;
            transition: background-color 0.3s;
        }
    
        tbody tr:nth-child(even) {
            background-color: #f3f3f3;
        }
    
        tbody tr td:last-child {
            font-weight: bold;
        }
    </style>
    
    <table class="table">
        <thead>
            <tr style="text-align:center;">
                <th scope="col">No. de Recibo</th>
                <th scope="col">Nombre</th>
                <th scope="col">Tipo de Servicio</th>
                <th scope="col">KiloWatts Consumidos</th>
                <th scope="col">Costo por kW</th>
            </tr>
        </thead>
        <tbody style="text-align:center;">
            <tr>
                <th scope="row"><%=recibo%></th>
                <td><%=nombre%></td>
                <td><%=servicio%></td>
                <td><%=kw%></td>
                <td>$<%=costoKw%> /kW</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>Subtotal:</td>
                <td>$<%=subTotal.toFixed(2)%></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>Impuesto: </td>
                <td>+ $<%=impuesto.toFixed(2)%></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>Descuento: </td>
                <td>- $<%=descuento%></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>Total a Pagar: </td>
                <td>$<%=total.toFixed(2)%></td>
            </tr>
        </tbody>
    </table>
</section>

<%-include('partials/footer.ejs')%>
